<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="text-gray-600">
    <div>
      <!--  content wraper -->

      <nav class="bg-gray-200">
        <div class="flex justify-between">
          <div class="flex place-items-center">
            <h1 class="font-bold uppercase p-4 border-b border-gray-100">
              <a href="/">SEWANITY</a>
            </h1>
            <ul class="flex">
              <li class="text-gray-700 font-bold ml-2">
                <a href="/home">
                  <span>Home</span>
                </a>
              </li>
              <li class="text-gray-700 font-bold ml-2">
                <a href="/about-us">
                  <span>About</span>
                </a>
              </li>
              <li class="text-gray-700 font-bold ml-2">
                <a href="/contact">
                  <span>Contact</span>
                </a>
              </li>
            </ul>
          </div>

          {% if session_user != None %}
          <div class="flex place-items-center mr-5">
            <a class="text-red-600 ml-2" href="/logout">Log out</a>
          </div>
          {%else%}
          <div
            class="flex justify-center md:justify-end place-items-center mr-7"
          >
            <a class="text-red-600 ml-2" href="/login">Log in</a>
            <a class="text-red-600 ml-2" href="/register">Sign up</a>
          </div>
          {%endif%}
        </div>
      </nav>

      <main class="px-16">
        <div>
          
          {% if session_user != None %}
          <h1 class="font-bold text-4xl mt-12 pb-2">Welcome, {{ session_user['username'] }}</h1>
          <h2 class="font-bold text-4xl mt-12 pb-2 border-b border-gray-200">
            History
          </h2>
          <div
            class="mt-8 grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-3 gap-10"
          >
            <!-- card go here -->
            {% if history %} {% for cars in history %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg relative">
              <img
                class="w-full"
                src="{{ url_for('static', filename=cars['image_link']) }}"
                alt="Agya"
              />
              <div class="px-6 py-4">
                <div class="flex self-center">
                  <p class="font-bold text-xl mb-2 mr-2">
                    {{ cars['brand'] + " " + cars['model'] }}
                  </p>
                </div>
              </div>
              <div
                class="inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 absolute top-0"
              >
                {%if cars['status'] == 'Ongoing'%} 
                {% if cars['days_remaining'] > 0%}
                {{ cars['days_remaining'] }} day(s) left 
                {% else %}
                Overdue
                {% endif %}
                {%elif cars['status'] == 'Waiting For Approval'%}
                Waiting For Approval 
                {%elif cars['status'] == 'Completed'%}
                Completed {%endif%}
              </div>
            </div>
            {% endfor %} {% else %}
            <p class="text-center">No history</p>
            {% endif %}
          </div>
          {%endif%}

          <h4 class="font-bold text-4xl mt-12 pb-2 border-b border-gray-200">
            Most Popular
          </h4>
          <form
            action="/home"
            method="get"
            class="ml-5 flex gap-5 pt-2 flex flex-col md:flex md:flex-row"
          >
            <div class="flex place-items-center gap-5">
              <label for="cars">Choose a car:</label>
              <select
                name="cars"
                id="cars"
                class="bg-gray-200 rounded p-1 mr-1"
              >
                <option value="all">All</option>
                <option value="bmw">BMW</option>
                <option value="toyota">Toyota</option>
                <option value="daihatsu">Daihatsu</option>
              </select>
            </div>

            <div class="flex place-items-center gap-5">
              <label for="cars">Seats:</label>
              <select
                name="seats"
                id="seats"
                class="bg-gray-200 rounded p-1 mr-1"
              >
                <option value="all">All</option>
                <option value="5">5</option>
                <option value="7">7</option>
              </select>
            </div>

            <div class="flex place-items-center gap-5">
              <label for="cars">Mode:</label>
              <select
                name="mode"
                id="mode"
                class="bg-gray-200 rounded p-1 mr-1"
              >
                <option value="all">All</option>
                <option value="manual">Manual</option>
                <option value="automatic">Matic</option>
              </select>
            </div>

            <div class="flex place-items-center gap-5">
              <label for="cars">Fuel Type:</label>
              <select
                name="fuel"
                id="fuel"
                class="bg-gray-200 rounded p-1 mr-1"
              >
                <option value="all">All</option>
                <option value="petrol">Petrol</option>
                <option value="electric">Electric</option>
                <option value="diesel">Diesel</option>
              </select>
            </div>

            <div class="flex place-items-center gap-5">
              <label for="cars">Status:</label>
              <select
                name="status"
                id="status"
                class="bg-gray-200 rounded p-1 mr-1"
              >
                <option value="all">All</option>
                <option value="Available">Available</option>
                <option value="Rented">Rented</option>
              </select>
            </div>

            <input
              type="submit"
              value="Submit"
              class="border border-gray-200 p-1 bg-blue-200"
            />
          </form>
          <!-- card -->

          <div
            class="mt-8 grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-3 gap-10"
          >
            {% for car in cars %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg relative">
              <a href="/product/{{ car['id'] }}">
                <img
                  class="w-full"
                  src="{{ url_for('static', filename=car['image_link']) }}"
                  alt="{{ car['brand'] }} {{ car['model'] }}"
                />
                <div class="px-6 py-4">
                  <div class="flex self-center">
                    <p class="font-bold text-xl mb-2 mr-2">
                      {{ car['brand'] + " " + car['model'] }}
                    </p>
                    <span
                      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                      >Rp{{ car['price_per_day']}} / day</span
                    >
                  </div>
                  <p class="text-gray-700 text-base">
                    {{ car['description'] }}
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                  <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                    >{{ car['seats'] }} Seat(s)</span
                  >
                  <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                    >{{ car['mode'] }}</span
                  >
                  <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                    >{{ car['fuel'] }}</span
                  >
                  <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                    >{{ car['status'] }}</span
                  >
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="flex justify-end p-6">
            <!-- Previous Page -->
            {% if page > 1 %}
            <a
              href="{{ url_for('home', page=page-1, cars=request.args.get('cars', 'all'), seats=request.args.get('seats', 'all'), mode=request.args.get('mode', 'all'), fuel=request.args.get('fuel', 'all'), status=request.args.get('status', 'all')) }}"
              class="text-blue-600"
            >
              &lt; Previous
            </a>
            {% endif %}

            <!-- Page Numbers -->
            {% for p in range(1, max_page + 1) %}
            <a
              href="{{ url_for('home', page=p, cars=request.args.get('cars', 'all'), seats=request.args.get('seats', 'all'), mode=request.args.get('mode', 'all'), fuel=request.args.get('fuel', 'all'), status=request.args.get('status', 'all')) }}"
              class="{% if p == page %}text-red-600{% else %}text-blue-600{% endif %} ml-2"
            >
              {{ p }}
            </a>
            {% endfor %}

            <!-- Next Page -->
            {% if page < max_page %}
            <a
              href="{{ url_for('home', page=page+1, cars=request.args.get('cars', 'all'), seats=request.args.get('seats', 'all'), mode=request.args.get('mode', 'all'), fuel=request.args.get('fuel', 'all'), status=request.args.get('status', 'all')) }}"
              class="text-blue-600 ml-2"
            >
              Next &gt;
            </a>
            {% endif %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
