# Flask
SECRET_KEY=your-very-secret-key-change-this-in-production
FLASK_ENV=development
FLASK_DEBUG=True

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=FNDDatabse.1
DB_NAME=fileshare_db

# MinIO S3
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=fileshare
MINIO_SECURE=False

# Upload Settings
MAX_UPLOAD_SIZE_MB=500
STORAGE_QUOTA_GB=10
